<h1>Sign In!</h1>

<form action="<%=session_url%>" method="post">
	<input type="hidden"
				 name="authenticity_token"
				 value="<%= form_authenticity_token %>">

	<label for="user_login">Name</label>
	<input type="text" id="user_login" name="user[login]" value="<%=@login%>">
	<br>

	<label for="user_password">password</label>
	<input type="password" id="user_password" name="user[password]">
	<br>

	<input type="submit" value="Sign Up!">
</form>